<div class="main-page">
  <h2>About Us</h2>
  <p>
    Founded in 2015 and based in Edison, New Jersey (named after none other than Thomas Alva Edison) , Secondstove.com is an online marketplace for home cooked food. You can enjoy home cooked food without the hassle of cooking. You can find fresh, home cooked meals in your neighborhood and experience the flavors you’re unlikely to find in a restaurant. Our home chefs prepare the dishes in their kitchens using recipes that have been handed down over generations and are hand crafted on-demand.
    <br /><br />Whether you’re craving for that distinct flavor from your childhood or are too tired to cook or are having a party on the weekend, find your reason to explore the stoves in your neighborhood and discover some great dishes and stories.
  </p>
  <hr>
  <h2>Our Story</h2>
  <p>
    Good things happen over a coffee and great things happen over a dinner table!
    <br /><br />Secondstove.com was found on a dinner table, in conversation with friends. We come from different parts of the world and are united by our love of food, good times and spouse who can cook some amazing dishes. We’re typically planning for the next meal while having one. So no wonder we united forces to create something that we love and are passionate about.
  </p>
  <hr>
  <h2>What do we do?</h2>
  <p>
    Secondstove.com provides a platform for the home chefs to cook dishes in their kitchen and make them available online for the foodies to enjoy. It’s a quick way for the chefs to create their own brand, create a fan following and earn money while doing something they love, cook. It’s an efficient way for foodies to eat healthy, 100% fresh, never frozen home cooked food.
    <br /><br />Win-Win!
  </p>
</div>

