<nav class="navbar navbar-default navbar-static-bottom">
  <div class="container-fluid">
      <div class="col-sm-4">
        <ul class="nav navbar-nav navbar-left">
          <li>© 2015 SecondStove All Rights Reserved</li>
        </ul>
      </div>
      <div class="col-sm-8">
        <ul class="nav navbar-nav navbar-right">
          <li routerLinkActive="active"><a [routerLink]="['faq']">FAQs</a></li>
          <li routerLinkActive="active"><a [routerLink]="['aboutus']">ABOUT US</a></li>
          <li routerLinkActive="active"><a [routerLink]="['contactus']">CONTACT US</a></li>
          <li routerLinkActive="active"><a [routerLink]="['termsnprivacy']">TERMS & PRIVACY</a></li>
          <li><a href="https://www.facebook.com/Secondstove" target="_blank" style="cursor:pointer;">FACEBOOK</a></li>
          <li><a href="https://twitter.com/Secondstove" target="_blank" style="cursor:pointer;">TWITTER</a></li>
         </ul>
      </div>
  </div>
</nav>
