<div class="main-page">
    <h2>Hello Chefs</h2>
    <p>Our enterprising chefs followed their dreams and 3 simple steps to start their culinary journey.
        <br /><br />Read their stories, get inspired and get ready to create your own. See the video below to learn more.
    </p>
    <div class="row">
        <div class="embed-responsive embed-responsive-4by3 center-block">
            <video controls>
                <source src="/images/style/SecondStoveHD.mp4" type="video/mp4">
                <source src="/images/style/SecondStoveSD.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
    <br>
    <div class="row">
    <div class="col-sm-4 center-block">
        <a [routerLink]="['/profileupdate']">
        <img src="/images/style/chefs_signup.jpg" class="img-fluid center-block" alt="Responsive image"/>
        <h2 class="align-center">Signup to join</h2>
        </a>
        <p class="align-center">Signup for free to become a home chef. Tell the world your story, your passions and your love for cooking.</p>
    </div>
    <div class="col-sm-4 center-block">
        <a [routerLink]="['/profileupdate']">
        <img src="/images/style/chefs_launch.jpg" class="img-fluid center-block" alt="Responsive image"/>
        <h2 class="align-center">Launch your brand</h2>
        </a>
        <p class="align-center">Launch your own brand named stove. Add your speciality dishes, choose your hours, prices and delivery policy.</p>
        
    </div>
    <div class="col-sm-4 center-block">
        <a [routerLink]="['/profileupdate']">
        <img src="/images/style/chefs_impress.jpg" class="img-fluid center-block" alt="Responsive image"/>
        <h2 class="align-center">Cook to impress</h2>
        </a>
        <p class="align-center">Put on your apron and get ready to wow the foodies as they place online orders for your speciality dishes.</p>
    </div>
    <br>
</div>

